<mat-card-title class="text-center fw-bold pt-4">Crear</mat-card-title>
<mat-card-subtitle class="text-center pt-2">Llene los campos correspondientes para crear</mat-card-subtitle>
<div class="d-grid pt-4">
  <div class="container">
    <div class="row">
      <div class="col">
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Nombre">
          <mat-hint>Nombre</mat-hint>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="outline">
          <mat-label>Prefijo</mat-label>
          <input matInput placeholder="Prefijo">
          <mat-hint>Prefijo</mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field appearance="outline">
          <mat-label>Ciudad</mat-label>
          <input matInput placeholder="Ciudad">
          <mat-hint>Ciudad</mat-hint>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="outline">
          <mat-label>Direccion</mat-label>
          <input matInput placeholder="Direccion">
          <mat-hint>Direccion</mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field appearance="outline">
          <mat-label>Telefono</mat-label>
          <input matInput placeholder="Telefono">
          <mat-hint>Telefono</mat-hint>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="outline">
          <mat-label>Estado</mat-label>
          <input matInput placeholder="Estado">
          <mat-hint>Estado</mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div class="row ">
      <div class="col d-flex justify-content-evenly">
        <button mat-raised-button>Limpiar</button>
        <button mat-raised-button>Crear</button>
      </div>
    </div>
  </div>
</div>