<mat-sidenav-container class="full-width-container text-nowrap">
  <mat-sidenav (mouseenter)="collapsed.set(false)" (mouseleave)="collapsed.set(true)" opened mode="side"
    [style.width]="sidenavWidth()" [@fadeInOut]="collapsed()">
    <app-custom-sidenav [collapsed]="collapsed()" class="px-0 pb-0"></app-custom-sidenav>
    <mat-nav-list>
      <a mat-list-item routerLink="#">
        <i matListItemIcon class="fi fi-rs-building pe-3" [ngStyle]="{ 'color': 'black', 'font-size': '18px' }"></i>
        <span class="link_name">Sedes</span>
      </a>
      <a mat-list-item routerLink="#" >
        <i matListItemIcon class="fi fi-rr-id-badge pe-3" [ngStyle]="{ 'color': 'black', 'font-size': '18px' }"></i>
        <span class="link_name">Cargos</span>
      </a>
      <a mat-list-item routerLink="#">
        <i matListItemIcon class="fi fi-rs-chair-office pe-3" [ngStyle]="{ 'color': 'black', 'font-size': '18px' }"></i>
        <span class="link_name">Dependencias</span>
      </a>
      <a mat-list-item routerLink="#">
        <i matListItemIcon class="fi fi-rr-users pe-3" [ngStyle]="{ 'color': 'black', 'font-size': '18px' }"></i>
        <span class="link_name">Usuarios</span>
      </a>
      <a mat-list-item routerLink="#">
        <i matListItemIcon class="fi fi-rr-users-alt pe-3" [ngStyle]="{ 'color': 'black', 'font-size': '18px' }"></i>
        <span class="link_name">Grupos</span>
      </a>
      <a mat-list-item routerLink="#">
        <i matListItemIcon class="fi fi-rr-bell-ring pe-3" [ngStyle]="{ 'color': 'black', 'font-size': '18px' }"></i>
        <span class="link_name">Notificaciones</span>
      </a>
      <a mat-list-item routerLink="#">
        <i matListItemIcon class="fi fi-rs-pencil-paintbrush pe-3" [ngStyle]="{ 'color': 'black', 'font-size': '18px' }"></i>
        <span class="link_name">Diseño</span>
      </a>
      <a mat-list-item routerLink="#">
        <i matListItemIcon class="fi fi-rs-search-alt pe-3" [ngStyle]="{ 'color': 'black', 'font-size': '18px' }"></i>
        <span class="link_name">Auditorias</span>
      </a>
      <a mat-list-item routerLink="#">
        <i matListItemIcon class="fi fi-rr-exit pe-3" [ngStyle]="{ 'color': 'black', 'font-size': '18px' }"></i>
        <span class="link_name">Cerrar sesión</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <!-- Segundo menu  -->
<mat-sidenav #drawer class="example-drawer" mode="over" [opened]="drawerOpened" hasBackdrop="true" position="end"
[ngClass]="{ 'second-drawer-opened': drawerOpened }">
  <button mat-icon-button (click)="closeDrawer()" class="close-button">
    <mat-icon>close</mat-icon>
  </button>
  <h1 class="d-flex justify-content-center pt-4">Opciones</h1>
  <section>
    <h4 class="d-flex justify-content-center">Selecciona alguna de las opciones disponibles</h4>
    <div class="d-flex justify-content-center">
      <mat-button-toggle-group [formControl]="fontStyleControl" aria-label="Font Style">
        <mat-button-toggle value="Editar">Editar</mat-button-toggle>
        <mat-button-toggle value="Crear">Crear</mat-button-toggle>
        <mat-button-toggle value="3">Opción 3</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

  </section>

  <ng-container *ngIf="fontStyleControl.value === 'Editar'; else crearOption">
    <app-editar class="pt-4"></app-editar>
  </ng-container>
  <ng-template #crearOption>
    <ng-container *ngIf="fontStyleControl.value === 'Crear'; else opcion3Option">
      <app-crear class="pt-4"></app-crear>
    </ng-container>
    <ng-template #opcion3Option>
      <p class="d-flex justify-content-center pt-4" style="font-weight: 500;">Se encuentra en la opción {{
        fontStyleControl.value }}</p>
    </ng-template>
  </ng-template>
</mat-sidenav>
  <mat-sidenav-content class="content" [style.margin-left]="sidenavWidth()">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


