mat-toolbar {
  position: relative;
  z-index: 5;
}

.full-width-container {
  width: 100%;
}

.content {
  padding: 24px;
}

mat-sidenav-container {
  height: 100%;
}

.link_name {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  font-size: smaller;
}

.text-central {
  display: flex;
  justify-content: center;
  align-items: center;
}