<div class="container-fluid">
  <div class="row">

    <div class="col-3 d-flex justify-content-center align-items-center">
      <img src="../../../assets/sevenet_logo1.png" alt="Imagen_empresa"
        style=" width: 220px; height: auto; object-fit: contain;">
    </div>


    <div class="col-6 d-flex justify-content-center align-items-center">
      <app-item></app-item>
    </div>



    <div class="col-3 d-flex justify-content-center align-items-center">
      <img src="../../../assets/Sevenet_Horizontal.png" alt="Imagen_sevenet" style=" width: 220px; height: auto;">
    </div>

  </div>
</div>