<mat-card>
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-flex">
      <img width="80px" height="80px" src="../../../../assets/edificio.gif" alt="">
      <div class="ml-3 text-central">
        <mat-card-title>Sedes</mat-card-title>
      </div>
    </div>

    <div class="d-flex mt-3 ">
      <div class="mr-2 pe-3">
        <button type="button" class="button" mdbRipple title="Cargar Archivo Plano">
          <i class="fi fi-rr-folder-upload"></i>
        </button>
      </div>
      <div class="pe-3">
        <button type="button" class="button" mdbRipple title="Descargar Datos">
          <i class="fi fi-rr-download"></i>
        </button>
      </div>
      <div class="mr-2 pe-3">
        <app-add-modal></app-add-modal>
      </div>
    </div>
  </div>
</mat-card>
